.info-container {
  margin: 0 24px 28px;
  color: #FFF;
  text-align: center;
}

h2 {
  font-family: 'Antonio';
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
}

.info-p {
  font-family: 'Spartan';
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  opacity: 0.75;
  margin: 16px 0 32px;
}

.source {
  font-family: 'Spartan';
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 0.5;
}

#wiki {
  text-decoration: underline;
  font-weight: 700;
}