.info-container {
  margin: 0 24px 28px;
  color: #FFF;
  text-align: center;
}

h2 {
  font-family: 'Antonio';
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
}

.info-p {
  font-family: 'Spartan';
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  opacity: 0.75;
  margin: 16px auto 32px;
  max-width: 500px;
}

.source {
  font-family: 'Spartan';
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
}

#wiki {
  text-decoration: underline;
  font-weight: 700;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tablet-container {
    display: flex;
    margin: 0 auto 27px;
    justify-content: space-between;
    align-items: center;
    min-width: 689px;
  }

  .info-container {
    margin: 0;
    text-align: left;
    width: 339px;
  }
  
  h2 {
    font-size: 48px;
    line-height: 62px;
  }

  .info-p {
    margin-top: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .tablet-container {
    flex-direction: column;
    min-width: unset;
		margin: 0;
  }

  .info-container {
    width: 350px;
    margin-bottom: 39px;
  }

  h2 {
    font-size: 80px;
    line-height: 104px;
  }

  .info-p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 24px;
  }

  .source {
    font-weight: 14px;
    line-height: 25px;
  }
}