:root {
  --pageColor: #419EBB;
}

.info-nav {
  color: #FFF;
  position: absolute;
  top: 69px;
  width: 100%;
  border-bottom: 1px rgba(256, 256, 256, 0.2) solid;
}

.info-nav ul {
  display: flex;
  padding: 0 24px;
  width: 100%;
  justify-content: space-between;
}

.info-nav-item {
  padding: 20px 0 16px;
  opacity: 0.5;
}

.info-nav-button {
  font-family: 'Spartan';
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
}

.selected-info-nav-item {
  opacity: 1;
}

.info-nav-number {
  margin: 0 17px 0 20px;
}

@media only screen and (max-width: 767px) {
  .selected-info-nav-item::after {
    background: var(--pageColor);
    min-height: 4px;
    content: '';
    display: block;
    width: 100%;
    position: relative;
    top: 16px;
  }

  .info-nav-number, .tablet-title {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .info-nav {
    position: relative;
    width: 281px;
    top: 0;
    border: none;
    height: 152px;
  }

  .info-nav ul {
    padding: 0;
    flex-direction: column;
    height: 100%;
  }

  .info-nav-item {
    padding: 0;
  }

  .info-nav-button {
    line-height: 25px;
    padding: 7.5px 0;
    border: 1px rgba(256, 256, 256, 0.2) solid;
    width: 100%;
    display: flex;
  }

  .selected-info-nav-item {
    background: var(--pageColor);
    border: none;
  }
}