.planet-img {
  margin: 146px auto 98px;
  width: 111px;
  height: 111px;
  display: block;
}

.info-container {
  margin: 0 24px 28px;
  color: #FFF;
  text-align: center;
}

h2 {
  font-family: 'Antonio';
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
}

.info-p {
  font-family: 'Spartan';
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  opacity: 0.75;
  margin: 16px 0 32px;
}

.source {
  font-family: 'Spartan';
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 0.5;
}

#wiki {
  text-decoration: underline;
  font-weight: 700;
}

.info-nav {
  color: #FFF;
  position: absolute;
  top: 69px;
  width: 100%;
  border-bottom: 1px rgba(256, 256, 256, 0.2) solid;
}

.info-nav ul {
  display: flex;
  padding: 0 24px;
  width: 100%;
  justify-content: space-between;
}

.info-nav-item {
  font-family: 'Spartan';
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  padding: 20px 0 16px;
  opacity: 0.5;
}

#selected-info-nav-item {
  opacity: 1;
}

#selected-info-nav-item::after {
  background: #419EBB;
  min-height: 4px;
  content: '';
  display: block;
  width: 100%;
  position: relative;
  top: 16px;
}

.info-nav-number {
  display: none;
}

.stats {
  color: #FFF;
  margin: 0 24px 39px;
}

.stats-item {
  display: flex;
  padding: 0 24px;
  border: 1px rgba(256, 256, 256, 0.2) solid;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}

.stat-title {
  font-family: 'Spartan';
  font-weight: 700;
  font-size: 8px;
  line-height: 16px;
  letter-spacing: 0.727273px;
  text-transform: uppercase;
  opacity: 0.5;
  padding: 16px 0;
}

.stat-value {
  padding: 9px 0 13px;
  font-family: 'Antonio';
  font-size: 20px;
  line-height: 26px;
  text-align: right;
  letter-spacing: -0.75px;
  text-transform: uppercase;
}