.planet-img {
  display: block;
	width: 38%;
}

.planet-img-secondary {
  display: none;
}

.image-wrapper {
	display: inline-block;
}

.image-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

@media only screen and (max-width: 767px) {
	.planet-img {
		margin: 146px auto 98px !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
	.planet-img {
    margin: 0 auto !important;
		width: 63%;
	}

	.image-container {
		margin: 146px 0 130px;
	}
}

@media only screen and (min-width: 1440px) {
  .desktop-container {
    display: flex;
    margin-top: 126px;
    align-items: center;
    width: 1110px;
    justify-content: flex-end;
    position: relative;
  }

  .planet-img {
    margin: 0;
		width: auto;
		height: auto;
  }

  .planet-img-secondary {
    display: block;
    width: 163px;
    height: 199px;
    position: absolute;
    top: 342px;
    left: 237px;
  }
}