.planet-img {
  margin: 146px auto 98px;
  width: 111px;
  height: 111px;
  display: block;
}

.planet-img-secondary {
  display: none;
}

@media only screen and (min-width:768px) {
  .planet-img {
    margin-bottom: 130px;
    width: 184px;
    height: 184px;
  }
}

@media only screen and (min-width: 1440px) {
  .desktop-container {
    display: flex;
    margin-top: 126px;
    align-items: center;
    width: 1110px;
    justify-content: flex-end;
    position: relative;
  }

  .planet-img {
    margin: 0;
    height: 290px;
    width: 290px;
  }

  .planet-img-secondary {
    display: block;
    width: 163px;
    height: 199px;
    position: absolute;
    top: 342px;
    left: 237px;
  }
}