/*Fonts*/

@font-face {
	font-family: 'Antonio';
	src: url(../assets/fonts/Antonio-Medium.ttf);
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Spartan';
	src: url('../assets/fonts/Spartan-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Spartan';
	src: url('../assets/fonts/Spartan-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

/*My CSS*/

* {
	box-sizing: border-box;
}

body {
	background: url('../assets/images/background-stars.svg') center #070724;
}

.link {
	text-decoration: none;
	display: block;
}

