.stats {
  color: #FFF;
  margin: 0 auto 39px;
  max-width: 500px;
  padding: 0 24px;
}

.stats-item {
  display: flex;
  padding: 0 24px;
  border: 1px rgba(256, 256, 256, 0.2) solid;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}

.stat-title {
  font-family: 'Spartan';
  font-weight: 700;
  font-size: 8px;
  line-height: 16px;
  letter-spacing: 0.727273px;
  text-transform: uppercase;
  opacity: 0.5;
  padding: 16px 0;
}

.stat-value {
  padding: 9px 0 13px;
  font-family: 'Antonio';
  font-size: 20px;
  line-height: 26px;
  text-align: right;
  letter-spacing: -0.75px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .stats {
    margin: 0 39.5px 36px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 689px;
    max-width: unset;
  }

  .stats-item {
    display: block;
    padding: 16px 15px;
    margin: 0;
    width: 164px;
    height: 88px;
  }

  .stat-title {
    padding: 0;
  }
  
  .stat-value {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.9px;
    padding: 0;
    text-align: left;
  }
}

@media only screen and (min-width: 1440px) {
  .stats {
    margin: 87px 0 56px;
    width: 1110px;
  }

  .stats-item {
    padding: 20px 23px 27px;
    width: 255px;
    height: 128px;
  }

  .stat-title {
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
  }

  .stat-value {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
  }
}